@import url('https://fonts.googleapis.com/css?family=Cardo');
* {
margin: 0;
padding: 0;
box-sizing:border-box;
}

body {
font-family: montserrat, sans-serif;
font-size: 16px;
font-weight: 200;
line-height: 1.5em;
color: gray;
}

section {
padding:4em 0;
}

.welcome{
background-image: url(../images/cover.jpg);
height: 90vh;
background-size: cover;
background-position: center;
}

.nav-bar{
background: rgb(0, 0, 0, 0.5);
/* height: 80px; */
width: 100%;
float: left;
font-family: montserrat, sans-serif; 
}


.ourwork img{
    width: 33.33%;
    float: left;
    padding: .5em;
padding-top: 50px

}

.menu{
float: right;
list-style: none;
margin: 20px; 
}

nav a {
display:inline-block;
padding:1em;
color:#fff;
text-decoration:none;
}

.menu li{
display: inline-block;
margin: 10px 5px;
}

.menu li a{
text-decoration: none;
color: #fff;
padding: 5px 10px;
font-family: montserrat, sans-serif;
font-weight: 200;
letter-spacing: 2px;

}

.welcome{
text-align: center;
color: #fff;
}

h1{
font-family: montserrat, sans-serif;
font-size: 68px;
font-weight:300;
color: #fff;
line-height: 1em;
}

h2{
font-family: montserrat, sans-serif;
font-size: 32px;
font-weight:300;
color: #000000;
padding: 20px;
} 

.btn{
font-size: 15px;
padding: 7px 10px;
text-decoration: none;
margin: 100px 0 0;
border: 1px solid #fff;
display: inline-block;
}

.btn1{
font-family: montserrat, sans-serif;
color: #fff;

}

.btn1:hover{
background: #fff;
color: #000;
transition: .4s;

}

.ourstory {
    width: 1200px;
    margin: auto;
    border-bottom: #acd03a .15em solid;
    padding-bottom: 300px;
}



.testimonials {
width: 1200px;
margin: auto;
text-align: center;
    
}
.testimonials div {
width: 33.33%;
float: left;
padding: 1em;
text-align: center;
}

.testimonials img {
width: 75%;
display: block;
margin: auto;
    
}
img.float_left {
float: left;
width: 50%;
padding-right: 2em;
}

.ourwork {
    clear: both;
    width: 1200px;
    margin: auto;
    text-align: center;
    border-bottom: #acd03a .15em solid;
    padding-bottom: 700px;
    
} 

.contectus {    
    clear: both;
    width: 1200px;
    margin: auto;
    text-align: center;  
    
}

.contectus img {
    width: 50%;
    display: block;
    margin: auto;
    padding-top: 50px;
}


footer {
background-color: #3d3d3d;
width: auto;
height: 600px;
text-align: center;
padding: 300px;


}

.clearfix:after {
display:block;
content:"";
clear:both;
}

