@import url('https://fonts.googleapis.com/css?family=Cardo');
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: 'Cardo', serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5em;
    color: gray;
}
section {
    padding:4em 0;
}
.welcome{
    background-image: url(../images/cover.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav-bar{
    background: rgb(0, 0, 0, 0.5);
    /* height: 80px; */
    width: 100%;
    float: left;
    font-family: montserrat, sans-serif; 
}


.logo{
    margin: 10px 50px;
    height: 100px;
    
}

.menu{
    float: right;
    list-style: none;
      margin: 20px;  
}
nav a {
    display:inline-block;
    padding:1em;
    color:#fff;
    text-decoration:none;
}

.menu li{
    display: inline-block;
    margin: 10px 5px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-family: montserrat, sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    
}

.welcome{
    text-align: center;
    color: #fff;
}

h1{
    font-family: montserrat, sans-serif;
    font-size: 88px;
    font-weight:300;
    color: #fff;
    line-height: 1em;
}

h2{
    font-family: montserrat, sans-serif;
    font-size: 32px;
    font-weight:300;
    color: #000000;
    padding: 20px;
    text-align: center;
    
} 

.btn{
    font-size: 15px;
    padding: 7px 10px;
    text-decoration: none;
    margin: 100px 0 0;
    border: 1px solid #fff;
    display: inline-block;
}

.btn1{
    font-family: montserrat, sans-serif;
    color: #fff;
    
}

.btn1:hover{
    background: #fff;
    color: #000;
    transition: .4s;
    
}

.ourstory {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;

}

.testimonials {
    background-color: #E89C6C;
    padding: 20px;
    margin: 20px;
    border: 2px black solid;
    
}

img.float_left {
    float: left;
    margin: 20px;
    height: 300px;
    
}

.ourwork {
   background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}   

footer {
    background-color: #FF957E;
    margin: 50px;
    
}
